<!--
File: table.html
Author: Baráth Dávid
Copyright: 2022, Baráth Dávid
Group: Szoft 2 N
Date: 2022.12.27
Github: https://github.com/david587/
Licenc: GNU GPL
-->
<h2>Táblázat</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Név</th>
            <th>Megye</th>
            <th>Terület</th>
            <th>Népesség</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let address of addresses">
            <td>{{address.nev}}</td>
            <td>{{address.megye}}</td>
            <td>{{address.Terulet}}</td>
            <td>{{address.Nepesseg}}</td>
        </tr>
    </tbody>
</table>
