<!--
File: app.html
Author: Baráth Dávid
Copyright: 2022, Baráth Dávid
Group: Szoft 2 N
Date: 2022.12.27
Github: https://github.com/david587/
Licenc: GNU GPL
-->
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" routerLink="/table">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/git">Git</a>
  </li>
</ul>
<div class="container">
  <h1 class="text-center">{{title}}</h1>
  <router-outlet></router-outlet>  
</div>
